body {
	font-family: 'Raleway', sans-serif; 
	padding:0px;
} 

a {
	text-decoration: none;	
}

h1,h2 {
	line-height: 0.2;
}

.navbar {
	display: flex;
	padding: 21px 10px;
	justify-content: flex-end;
	border-bottom: 1px solid #CCCCCC;
}

.nav1{
	margin-right: auto;
}

.nav2 {	
	display: flex;
	justify-content: space-between;
	width: 30%;
}

.content {
	display: flex;
	height: 100%;
}

.image {
	background-image: url("face1.jpg");
	background-size: cover;
	flex:3;
	height: 100vh;
	background-position: center;
}

.text{
	justify-content: center;
	align-self: center;
	flex: 1;
	text-align: left;
	height: 100%;
	padding: 60px;
	align-content: space-around;
}

.button {
	background-color: #305B90;
	text-align: center;
	color: white;
	border-radius: 5px;
	padding: 12px;
}

.button:hover {
	background-color: rgb(69,108,155);
	border-style: 1px solid #305B90;
}

.greybx	{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: smaller;
}

.click {
	border-radius: 50%;
}

.footer {
	position: fixed;
	bottom: 0px;
	height: 60px;
	background-color: rgba(255,255,255, 0.87);
	width: 100%;
	padding-top: 10px 10px 0px;
	box-shadow: 0px -3px 2px #DCDCDC;
}

.footer-pos {
	display: flex;
	width: 40%;
	margin-top:10px;
	justify-content: space-around;
	align-content: center;
}

.footer-txt {
	display: flex; 
	align-content: center;
	margin-top: 10px; 
	/*can't get text vertically centered with flex*/
}

.buttontwo {
	background-color: #0872B4;
	text-align: center;
	color: white;
	border-radius: 5px;
	padding: 10px;
	font-style: ;
}

.buttontwo:hover {
	background-color: rgb(7,99,156);
}
