body {
	font-family: 'Raleway', sans-serif; 
	padding:0px;
} 

.navbar {
	display: flex;
	border: 1px solid black;
	padding: 10px 10px;
	justify-content: flex-end;
}

.nav1{
	border: 1px solid red;
	margin-right: auto;
}

.nav2 {	
	border: 1px solid blue;
	justify-content: space-between;
}

.content {
	display: flex;
	height: 100%;
	border: 1px solid blue;
}

.image {
	background-image: url("face1.jpg");
	background-size: cover;
	flex:2;
	height: 100vh;
	background-position: center;
	border: 1px solid green;
}

.text{
	justify-content: center;
	align-self: center;
	flex: 1;
	text-align: left;
	height: 100%;
	padding: 60px;
}

.button {
	background-color: #305B90;
	text-align: center;
	color: white;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
}

.greybx	{
	padding-top: 15px;
	padding-bottom: 15px;
}

.click {
	border-radius: 50%;
}